* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 20px;
  display: flex;
  flex-direction:column ;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

fieldset {
  margin: 10px;
  padding: 10px;
}
input {
  width: 300px;
  height: 25px;
}

button{
  margin: 20px;
  float: right;
  width: 75px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 25px;
}

button:hover{
  background-color: gray;
}

